.newmember_registration__container
  .newmember_registration__header
    %h1.newmember_registration__header__logo
      = link_to image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1881812696'), root_path
    