%body
  .information-container
    .infomation-header
      .infomation-header--logo
        = link_to image_tag(src= "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1905591235", class: "header--mercari"), root_path
          
      //配送状況
      .progress-bar
        %ul.progress-bar--bar
          %li.through#through
            会員情報
            .progress-status
            .progress-status_bar
          %li.through#through
            電話番号認証
            .progress-status
            .progress-status_bar
          %li.through#through
            お届け住所入力
            .progress-status
            .progress-status_bar
          %li.active#active
            支払い情報
            .progress-status
            .progress-status_bar--last
          %li.end#end 
            完了
            .progress-status
            

    .howtopay--main
      .howtopay__mainbox
        //メインの上のだん
        .howtopay__mainbox__upper
          .howtopay__upper--message 支払い方法
        //メインの下の段
        .howtopay__mainbox__main
          .howtopay__main
            .howtopay--name
              .howtopay--name--name カード番号
              .howtopay--name--red 必須
            %input{type: "name", placeholder: "半角数字のみ"}
            %ul.howtopay--card
              %li.card
                = image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlmdIAmwSx3jMGfpDrxpUibA5ETXuXQ2bBhigYFa7yToTXkG58KQ", class: "card")
            .howtopay--name
              .howtopay--name--name 有効期限
              .howtopay--name--red 必須
              //プルダウン
              .howtopay__card--month.card--month
                %select{:required => ""}
                  %option{:value => "1"} 01
                  %option{:value => "2"} 02
                  %option{:value => "3"} 03
                  %option{:value => "4"} 04
                  %option{:value => "5"} 05
                  %option{:value => "6"} 06
                  %option{:value => "7"} 07
                  %option{:value => "8"} 08
                  %option{:value => "9"} 09 
                  %option{:value => "10"} 10
                  %option{:value => "11"} 11
                  %option{:value => "12"} 12
