=render partial:"products/header"

-# パンくずリスト
%nav.breadcrumb-wrapper
  %ul
    %li.item_scope
      =link_to root_path, class:'scope_name_prev' do 
        メルカリ
      =fa_icon ("chevron-right")
    %li.item_scope
      =link_to '#', class:'scope_name_prev' do 
        マイページ
      =fa_icon ("chevron-right")
    %li.item_scope
      =link_to '#', class: 'scope_name_current' do 
        ログアウト

.user-menu
  .user-content
    =render partial:"sidebar"
    .logout_wrapper
      %form
      = link_to destroy_user_session_path, method: :delete do
        .logout_wrapper_content
          %button.logout_btn
            ログアウト
=render partial: "layouts/sell-btn" 
=render partial:'products/footer'
