.notice-top{
  width:100%;
  margin:0;
  padding:0;
  &_image{
    color: rgb(51, 51, 51);
    cursor:pointer;
  }
}

.notice-bottom{
  background-image: url(download_bg_pc.jpg);
  background-position: center;
  background-size: cover;
  .app-banner{
    width: 750px;
    height: 260px;
    margin: 0 auto;
    position: relative;
  
    &_left{
      width:420px;
      height:166px;
      color:$bg-white;
      float:left;
      position: absolute;
        top: 20%;
      
      .app-top-message{
        font-size:24px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        line-height:1.4;
      }
      .app-bottom-message{
        font-size:35px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        margin: 10px 0 0;
      }
      .app-left-icon{
        margin:20px 0 0;
        position: relative;
        .mercari-minibox{
          position: absolute;
           top: 30%;
           left:0;
        }
        .store_btn{
          margin: 0 0 0 24px;
          line-height: 68px;
          position: absolute;
           top: 20%;
           right:10%;
        }
      }
    }
    &_right{
      float:right;
    }
  }
}