.notice-top{
  height:390px; 
  width: 1440px;
  margin:0;
  padding:0;
  &_image{
    color: rgb(51, 51, 51);
    cursor:pointer;
  }
}

.notice-bottom{
  height:260px; 
  width:1440px;
  background-image: url(download_bg_pc.jpg);
  background-position: center;
  background-size: cover;
  .app-banner{
    width: 750px;
    height: 260px;
    margin: 0 auto;
    position: relative;
  
    &_left{
      color:$bg-white;
      float:left;
      position: absolute;
        top: 20%;
      
      .app-top-message{
        font-size:24px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        line-height:1.4;
      }
      .app-bottom-message{
        font-size:35px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        margin: 10px 0 0;
      }
      .app-left-icon{
        width:420px;
        height:68px;
        margin:20px 0 0;
        position: relative;
        .mercari-minibox{
          width:68px;
          height:68px;
          position: absolute;
            top: 0;
            left:0;
        }
        .store-btn{
          width:282px; 
          height:68px;
          margin: 0 0 0 24px;
          &_app{
            width:133px;
            height:40px;
            position: absolute;
              top: 10%;
              right:45%;
          }
          &_google{
            width:133px;
            height:40px;
            position: absolute;
              top: 10%;
              right:10%;
          }
        }
      }
    }
    &_right{
      float:right;
      .phone-image{
        width:300px;
        height:262.63px;
      }
    }
  }
}