//ヘッダー部分
.header-main {
  width: 100%;
  height: 100px;
  background: $bg-white;

   .index-header {
      padding: 8px 0 0;
      margin: 0 auto;
      height: 100%;
      width: 1020px;
   
      
      &__top{ 
      display: flex;
      text-align: center;
      align-items: center;
      //メルカリロゴ部分
      .mercari-logo {
        width: 134px;
        height: 15px;
        padding-right: 50px;
        padding-bottom: 20px;
      }
    }
    //検索キーワード入力部分
    &__search {
      display: flex;
      width: 100%;
      position: relative;

      .search-field {
        background-color: #f5f5f5;
        width: 100%;
        height: 40px;
        border-radius: 4px;
        font-size: 16px;
        border: 1px solid #ccc;
        padding: 0 42px 0 10px;
      }
      
      .search-btn {
        position: absolute;
        top: 10px;
        bottom: 10px;
        right: 13px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
  

        .icon-search {
          color: $black;
          font-size: 14px;
          cursor: pointer;
        }
      }
      
    }
    //ヘッダーの下側
    &__bottom {
      width: 100%;
      font-family: FontAwesome;
      padding: 10px 0;
      //左側
      &__left {
        float: left;
        display: flex;
        font-size: 14px;
        line-height: 1.4;
        font-weight: bold;
        color: #333;
        margin-right: 10px;
        margin-top: 5px;
        cursor: pointer;
        //カテゴリーから探す
        &__category::before {
          content: '\f0ca';
          color: red;
          line-height: 1;
          margin-right: 8px;
        }
        &__category {
          margin-right: 20px;
        }
        // カテゴリーアコーディオン
        .acordion-category{
          width:200px;
          height:570px;
          padding-left:18px;
          position: absolute;
          top:90px;
          z-index: 5;
          background:$bg-white;
          border: 1px solid $active-gray;
          list-style: none;
          color:#333;
          font-size: 15x;
          font-weight: 200;
          line-height: 40px;
          font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
          display: none;
        }
        .big-category :hover{
          color:$bg-white;
          background:$mercari-red;
        }

        //ブランドから探す
        &__brand::before {
          content: '\f02b';
          color: red;
          line-height: 1;
          margin-right: 8px;
        }
        // ブランドアコーディオン
        .acordion-brand{
          width:200px;
          height:250px;
          padding-left:18px;
          position: absolute;
          top:90px;
          left:355px;
          z-index: 5;
          background:$bg-white;
          border: 1px solid $active-gray;
          list-style: none;
          color:#333;
          font-size: 15x;
          font-weight: 200;
          line-height: 40px;
          font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
          display: none;
        }
        .brand-category :hover{
          color:$bg-white;
          background:$mercari-red;
        }
      }
      //右側
      &__right {
        float: right;
        display: flex;
        font-size: 14px;
        cursor: pointer;
        //いいね！一覧
        &__like::before {
          content: '\f08a';
          color: #ccc;
          font-size: 20px;
          margin-right: 8px;
        }
        &__like {
          margin-right: 30px;
        }
        &__like:hover {
          color: $blue-link;
        }
        //お知らせ
        &__info::before {
          content: '\f0a2';
          color: #ccc;
          font-size: 20px;
          margin-right: 8px;
        }
        &__info {
          margin-right: 30px;
        }
        &__info:hover {
          color: $blue-link;
        }
        //やることリスト
        &__todo::before {
          content: '\f00c';
          color: #ccc;
          font-size: 20px;
          margin-right: 8px;
        }
        &__todo {
          margin-right: 30px;
        }
        &__todo:hover {
          color: $blue-link;
        }
        //マイページ
        &__mypage::before {
          content: '\f2be';
          color: #ccc;
          font-size: 20px;
          margin-right: 8px;
        }
        .my_page{
          color:#333;
          margin-right: 8px;
        }
        .my_page:hover{
          color: $blue-link;
        }
      }
    }
  }
  //レスポンシブ対応
  @media screen and (max-width:768px){
    body{
      color: #5bc0de;
    }
  }

}
 