.information-container {
  background-color: $active-gray;
  text-align: center;
  .howtopay--main {
    display: inline;
    
    //メイン部分
    .howtopay__mainbox {
      width: 700px;
      margin: 0 auto;
      background-color: $bg-white;
      text-align: left;
      color: #333;
      .howtopay__mainbox__upper {
        font-size: 14px;
        border-bottom: 1px solid $active-gray;
        .howtopay__upper--message {
          padding: 32px 16px;
          font-size: 22px;
          font-weight: bold;
          text-align: center;
        }
      }
      &__main {
        text-align: center;
        background-color: $active-gray;
        display: inline;
        .howtopay__main {
          max-width: 320px;
          margin: 0 auto;
          text-align: left;
          padding-bottom: 40px;
          .howtopay--name {
            font-size: 13px;
            margin: 40px 0 0;
            &--name {
              display: inline-block;
              font-weight: 600;
            }
            &--red {
              display: inline-block;
              color: $bg-white;
              background-color: $mercari-red;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              font-size: 12px;
              border-radius: 2px;
              height: 14px;
              width: 25px;
              line-height: 12px;
            }
          }
          input {
            width: 300px;
            height: 30px;
            border-radius: 4px;
            border: 1px solid $light-gray;
            background: $bg-white;
            line-height: 1.5;
            padding: 10px 16px 8px;
            font-size: 16px;
            margin: 8px 0 0;
          }
          .card {
            height: 50px;
            width: 300px;
          }
          .howtopay__card--month {
            overflow: hidden;
            width: 150px;
            margin: 2em auto;
            text-align: center;
            display: flex;
            select {
              width: 100%;
              padding-right: 1em;
              padding-left: 10px;
              cursor: pointer;
              text-indent: 0.01px;
              text-overflow: ellipsis;
              border: 1px solid $light-gray;
              height: 50px;
              border-radius: 4px;
              outline: none;
              background: transparent;
              background-image: url(./images/icon_arrow.svg);
              background-repeat: no-repeat;
              background-size: 12px 10px;
              background-position: right 10px center;
              box-shadow: none;
              -webkit-appearance: none;
              appearance: none;
              .card--month--icon {
                color: red;
              }
            }
          }
        }
      }
    }
  }
}