.information-container {
  background-color: #eee;
  text-align: center;
  .infomation-header {
    height: 128px;
    .infomation-header--logo {
      display: inline-block;
      .header--mercari {
        width: 185px;
        height: 49px;
        margin: 40px 0 0;
      }
    }
    //配送状況
    .progress-bar {
      padding: 40px 0 0 44px;
      border: 0;
      display: inline-block;
      vertical-align: top;
      font-size: 0;
      text-align: center;
      
      &--bar {
        margin: 0;
        display: flex;
        height: 1px;
        li {
          margin: 0 40px 0 0;
          padding: 0;
          position: relative;
          z-index: 40;
          display: inline-block;
          min-width: 60px;
          font-size: 12px;
          color: #888;
          .progress-status{
            position: absolute;
            left: 40%;
            width: 12px;
            height: 12px;
            margin: 3px auto 0;
            background: #888;
            border-radius: 50%;
            z-index: 30;
          }
          .progress-status_bar {
            position: absolute;
            left: 50%;
            top: 25px;
            bottom: 5px;
            display: block;
            width: 110px;
            height: 2px;
            background: #888;
            z-index: 10;
          }
          .progress-status_bar--last {
            position: absolute;
            left: 50%;
            top: 25px;
            bottom: 5px;
            display: block;
            width: 100px;
            height: 2px;
            background: #888;
            z-index: 10;
          }
        }
      }
    }
    .end .progress-status_bar {
      width: 0px;
    }
    .payment .progress-status_bar {
      width: 100px;
    }
    #through{
      color: #ea352d;
      .progress-status{
        background: #ea352d;
      }
    }
    #through .progress-status_bar{
      background: #ea352d;
    }
    #active{
      color: #ea352d;
      font-weight: bold;
      .progress-status{
        background: #ea352d;
        
      }
    }
  }
  //メイン部分
  .phonenumber--main {
    display: inline;
    .phonenumber__mainbox {
      width: 700px;
      margin: 0 auto;
      background-color: white;
      //メイン上の段
      .phonenumber__mainbox__upper {
        border-bottom: 1px solid #EEEEEE;
        .phonenumber__upper--message {
          padding: 32px 16px;
          font-size: 18px;
          font-weight: bold;
        }
      }
      //メイン下の段
      .phonenumber__mainbox__main {
        max-width: 320px;
        padding: 40px 16px;
        margin: 0 auto;
        .phonenumber__main {
          text-align: left;
          .phonenumber--phonenumber {
            font-size: 13px;
            .phonenumber--number {
              display: inline-block;
              font-weight: 600;
              
            }
          }
          input {
            width: 300px;
            height: 30px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            padding: 10px 16px 8px;
            font-size: 16px;
            margin: 8px 0 0;
          }
          .phonenumber--text {
            margin: 8px 0 0;
            line-height: 1.5;
            font-size: 14px;
          }
          .phonenumber--next {
            background-color: #ea352d;
            height: 50px;
            position: relative;
            margin: 40px 0 0;
            .btn-phonenumber--next {
              color: white;
              position: absolute;
              font-size: 14px;
              top: 15px;
              left: 110px;
            }
          }
          .phonenumber--test--second {
            margin: 8px 0 0;
            line-height: 1.5;
            font-size: 14px;
          }
          .phonenumber--test--thied {
            font-size: 14px;
            color: #0099e8;
            text-align: right;
            margin: 40px 0 0;
          }
          .phonenumber--test--thied:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}