*{
  min-height: 100%;
  margin: 0;
  padding: 0;
  .new-member_registration__container {
    background-color: #EEEEEE;
    padding: 0 0 220px;
    width: 100%;
    text-align: center;
    //ヘッダー部分
    .new-member_registration__header {
      height: 128px;
      &__logo {
        width: 185px;
        height: 49px;
        margin: 0 auto;
      }
    }
    //メイン部分
    .newmember__main {
      display: block;
      .newmember__mainbox {
        width: 700px;
        margin: 0 auto;
        background-color: white;
        .newmember__mainbox__upper {
          border-bottom: 1px solid #EEEEEE;
          .newmember__mainbox__upper__title {
            font-size: 22px;
            padding: 32px 16px;
            text-align: center;
            font-weight: bold;
          }
        }
        //メイン下部分
        .newmember__mainbox__main {
          height: 311px;
          .newmember__mainbox__main__contents {
            max-width: 320px;
            margin: 0 auto;
            padding: 64px;
            //メールアドレスで登録
            .newmember__mainbox__main__contents__email {
              .email__registration_btn::before {
                font-family: "FontAwesome";
                font-weight: 900;
                content: '\f0da';
              }
              .email__registration_btn {
                background-color: #eeeeee;
                height: 50px;
                font-size: 14px;
                cursor: pointer;
              }
            }
            .new-member__main__contents__facebook {
              color: red;
              .fa-facebook-square {
                color: red;
              }
              
            }
          }
        }
      }
    }
    //フッター部分
    .new-member__footer {
      width: 456px;
      height: 220px;
      margin: 0 auto;
      padding: 40px 0;
      .new-member__footer__nav {
        cursor: pointer;
        font-size: 12px;
        .li {
          display: inline-block;
          padding: 0 8px;
        }
        .li:hover {
          text-decoration: underline;
        }
        .new-member__footer__logo {
          width: 80px;
          height: 65px;
          margin: 40px auto 0;
        }
        .new-member__footer__mercari {
          font-size: 12px;
          margin: 8px 0 0;
        }
      }
    }
  }
}
