*{
  min-height: 100%;
  margin: 0;
  padding: 0;
  .newmember_registration__container {
    background-color: #EEEEEE;
    padding: 0 0 220px;
    width: 100%;
    text-align: center;
    //ヘッダー部分
    .newmember_registration__header {
      height: 128px;
      &__logo {
        width: 185px;
        height: 49px;
        margin: 0 auto;
      }
    }
    //メイン部分
    .newmember__main {
      display: block;
      .newmember__mainbox {
        width: 700px;
        margin: 0 auto;
        background-color: white;
        &__upper {
          border-bottom: 1px solid #EEEEEE;
          &__title {
            font-size: 22px;
            padding: 32px 16px;
            text-align: center;
            font-weight: bold;
          }
        }
        //メイン下部分
        .newmember__mainbox__main {
          height: 311px;
          &__contents {
            max-width: 320px;
            margin: 0 auto;
            padding: 64px;
            font-size: 14px;
            //メールアドレスで登録
            .newmember__mainbox--email {
              border: solid 1px red;
              border-radius: 4px;
              background-color: red;
              cursor: pointer;
              height: 50px;
              position: relative;
              .fa-envelope {
                position: absolute;
                color: white;
                font-size: 20px;
                top: 15px;
                left: 15px;
              }
              .mail--text {
                color: white;
                position: absolute;
                top: 15px;
                left: 90px;
              }
            }
            .newmember__main__contents--facebook {
              background: #385185;
              border: solid 1px #385185;
              border-radius: 4px;
              cursor: pointer;
              height: 50px;
              position: relative;
              margin: 16px 0 0;
              
              .fa-facebook-square {
                position: absolute;
                color: white;
                font-size: 25px;
                top: 15px;
                left: 15px;
                
              }
              .facebook--text {
                color: white;
                position: absolute;
                top: 15px;
                left: 90px;

              }
            }
            .newmember__main__contents--google {
              background: white;
              border: solid 1px #979797;
              border-radius: 4px;
              cursor: pointer;
              height: 50px;
              position: relative;
              margin: 16px 0 0;
              .fa-google {
                position: absolute;
                color: #333;
                font-size: 25px;
                top: 15px;
                left: 15px;
              }
              .google--text {
                color: #333;
                position: absolute;
                top: 15px;
                left: 110px;
              }
            }
          }
        }
      }
    }
    //フッター部分
    .new-member__footer {
      width: 456px;
      height: 220px;
      margin: 0 auto;
      padding: 40px 0;
      &__nav {
        cursor: pointer;
        font-size: 12px;
        .li {
          display: inline-block;
          padding: 0 8px;
        }
        .li:hover {
          text-decoration: underline;
        }
        &__logo {
          width: 80px;
          height: 65px;
          margin: 40px auto 0;
        }
        &__mercari {
          font-size: 12px;
          margin: 8px 0 0;
        }
      }
    }
  }
}
