.products-container {
  width:700px;
  margin-right: auto;
  margin-left : auto;
  padding: 0;
  min-height: 100%;
  //ヘッダー部分
  .index-header {
    align-items: center;
    &__top{
      display: flex;
      align-items: center;
      //メルカリロゴ部分
      .mercari-logo {
        width: 134px;
        height: 36px;
        padding-right: 80px;
      }
      //検索キーワード入力部分
      .index-header__search {
        display: flex;
        height: 40px;
        .searchKeyword {
          background-color: #f5f5f5;
          width: 400px;
          height: 40px;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          font-size: 16px;
          border: 1px solid #ccc
        }
        .searchKeyword:focus{
          outline: 0;
          border: 1px solid #3399ff;
        }
        //虫眼鏡アイコンクリック部分
        .icon-search__box {
          background-color: rgb(102, 102, 102);
          width: 46px;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          position: relative;
          .icon-search__box__icon {
            font-size: 15px;
            color: white;
            text-align: center;
            .fa-search {
              position: absolute;
              top: 10px;
              bottom: 10px;
              right: 0;
              left: 0;
            }
          }
        }
      }
    }
    &__bottom {
      display: flex;
      font-family: FontAwesome;
      &__left {
        display: flex;
        &__category::before {
          content: '\f0ca';
          color: red;
        }
        &__brand::before {
          content: '\f02b';
          color: red;
        }
      }
      &__right {
        display: flex;
        &__info::before {
          content: '\f0f3';
          color: #ccc;
        }
        &__todo::before {
          content: '\f00c';
          color: #ccc;
        }
        &__mypage::before {
          content: '\f599';
          color: #ccc;
        }
      }
    }
  }
}