*{
  min-height: 100%;
  margin: 0;
  padding: 0;
  //ヘッダー部分
  .new-member_registration__container {
    background-color: #EEEEEE;
    padding: 0 0 220px;
    width: 100%;
    text-align: center;
    .new-member_registration__header {
      height: 128px;
      .new-member_registration__header__logo {
        width: 185px;
        height: 49px;
        margin: 0 auto;
      }
    }
    //メイン部分
    .new-member_registration__main {
      display: block;
      .new-member_registration__main__box {
        width: 700px;
        margin: 0 auto;
        background-color: white;
        .new-member_registration__main__box__upper {
          border-bottom: 1px solid #EEEEEE;
          .new-member_registration__main__box__upper__title {
            font-size: 22px;
            padding: 32px 16px;
            text-align: center;
            font-weight: bold;
          }
        }
        .new-member_registration__main__box__main {
          height: 311px;
          .new-member_registration__main__box__main__contents {
            max-width: 320px;
            margin: 0 auto;
            padding: 64px;
            font-size: 14px;
            font-family: "Font Awesome 5 Free";
            .new-member_registration__main__box__main__contents__email {
              display: flex;
              position: relative;
              background-color: #EEEEEE;
              cursor: pointer;
              height: 50px;
              .new-member_registration__main__box__main__contents__email__name {
                margin: auto;
              }
            }
          }
        }
      }
    }
    //フッター部分
    .new-member_registration__footer {
      width: 456px;
      height: 220px;
      margin: 0 auto;
      padding: 40px 0;
      .new-member_registration__footer__nav {
        cursor: pointer;
        font-size: 12px;
        .li {
          display: inline-block;
          padding: 0 8px;
        }
        .li:hover {
          text-decoration: underline;
        }
        .new-member_registration__footer__logo {
          width: 80px;
          height: 65px;
          margin: 40px auto 0;
        }
        .new-member_registration__footer__mercari {
          font-size: 12px;
          margin: 8px 0 0;
        }
      }
    }
  }
}