//フッター部分
.index-footer
  .index-footer-nav
    //メルカリについて
    .footer-cell__head__left
      .footer-cell__head__left__title メルカリについて
      %ul.footer-cell__left__list
        .li 会社概要（運営会社）
        .li 採用情報
        .li プレリリース
        .li 公式ブログ
        .li ガイドライン
        .footer-cell__left__list__icons
          .footer-cell__left__list__icons__twitter
          =fa_icon 'twitter'
          .footer-cell__left__list__icons__facebook
          =fa_icon 'facebook-square'
    //ヘルプ＆ガイド
    .footer-cell__head__right
      .footer-cell__head__right__title ヘルプ&ガイド
      %ul.footer-cell__right__list
        .li メルカリガイド
        .li らくらくメルカリ便
        .li ゆうゆうメルカリ便
        .li 大型メルカリ便
        .li 車体取引ガイド
        .li メルカリ安心・安全宣言！
        .li 偽ブランド品撲滅への取り組み
        .li メルカリボックス
    //プライバシーと利用規約
    .footer-cell-middle__left
      .footer-cell-middle__left__title プライバシーと利用規約
      %ul.footer-cell-middle__left__list
        .li プライバシーポリシー
        .li メルカリ利用規約
        .li サポート制度に関する特約
        .li コンプライアンスポリシー
      
    .footer-cell-middle__right
      .footer-cell-middle____right__title
      %ul.footer-cell-middle__right__list
        .li 個人データの安全に係る基本方針
        .li 特定商取引に関する表記
        .li 資金決済法に基づく表示
        .li 法令遵守と犯罪防止のために
        .li 返品・返金ポリシー
    
    .footer-cell-third
      .footer-cell-third__title 国
      %ul.footer-cell-third__country 
        .li 日本
        .li United States

    //メルカリロゴ
    .footer-cell-bottom
      .footer-cell-bottom__mercari
        = image_tag('//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?1881812696')
      .footer-cell-bottom__mercari__c © 2019 Mercari
