.header-main
  .index-header
    .index-header__top
      //メルカリロゴ部分
      %h1.mercari-logo
        = image_tag('//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2479985427')
      //検索キーワード入力部分
      -# = search_form_for @products do |f|
      -#   .index-header__search
      -#     = f.label :keyword
      -#     = f.text_field :keyword, class: 'search-keyword', placeholder: " 何かお探しですか？"
      -#   = f.submit class: 'icon-serach__box'

      .index-header__search
        %label.search-keyword
          %input.search-field{ type: "search", name: "search", placeholder: " 何かお探しですか？" }
        //虫眼鏡アイコン
        .icon-search__box
          .icon-search__box__icon
            =fa_icon 'search'

        


    //ヘッダー部分の２段目
    .index-header__bottom
      %ul.index-header__bottom__left
        //カテゴリーから探す
        .li.index-header__bottom__left__category カテゴリーから探す
            
        //ブランドから探す
        .li.index-header__bottom__left__brand ブランドから探す
            
      %ul.index-header__bottom__right
        //お知らせ
        .li.index-header__bottom__right__info お知らせ
            
        //やることリスト
        .li.index-header__bottom__right__todo やることリスト
            
        //マイページ
        .li.index-header__bottom__right__mypage マイページ





