-@products.each do |product|
  .item-wrapper
    =link_to product_path(id: product.id) do
      .item-image
        =image_tag(product.images.first.image, class: "item-image_photo")
      .item-text-wrapper
        %h3.item-title
          = product.name
        .item-num
          .item-price
            ='￥'+ product.price.to_s(:delimited)
          .item-like
            %i.fa.fa-heart-o
            %span.like-num
              = product.like
        %p.item-price-tax
          （税込） 
