.item-wrapper
  .item-image
    %img{src:"https://ic4-a.wowma.net/mi/gr/114/image.wowma.jp/30128448/lo-32977v063649_1.jpg", class:"item-image_photo"}
  .item-text-wrapper
    %h3.item-title
      ロエベ　ハンドバック　ショルダーバッグ 正規販売品
    .item-num
      .item-price
        ￥10,500
      .item-like
        %i.fa.fa-heart-o
        %span.like-num
          5
    %p.item-price-tax
      （税込） 
.item-wrapper
  .item-image
    %img{src:"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlPGdmrvkRl66M5dNhX98NWT2GG-TOviWdzIu4dyThGbGT5tphDQ", class:"item-image_photo"}
  .item-text-wrapper
    %h3.item-title
      ジュエルナローズ　ハンドバッグ
    .item-num
      .item-price
        ￥4,500
      .item-like
        %i.fa.fa-heart-o
        %span.like-num
          2
    %p.item-price-tax
      （税込） 
.item-wrapper
  .item-image
    %img{src:"https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQEmOBujPMyBgfHxae7zbaFQYM30cwVd840D-xoICYNT1_exuYKijBj6Fqt_XM7weMKoGzFFX0Zf0EYjpItCO99L5Xklymlbw08oaTVQQK4_7VfxhVpqbIx8A&usqp=CAc",class:"item-image_photo"}
  .item-text-wrapper
    %h3.item-title
      CELINE（セリーヌ）　ハンドバック　黒
    .item-num
      .item-price
        ￥6,500
      .item-like
        %i.fa.fa-heart-o
        %span.like-num
          4
    %p.item-price-tax
      （税込）
.item-wrapper
  .item-image
    %img{src:"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5lMWmmXKSBfxsHSTTnzVXpRltlEDKjT16TOiIjKllXgGqdrfvdw",class:"item-image_photo"}
  .item-text-wrapper
    %h3.item-title
      APC（アーペーセー）　ハーフムーンバッグ　オレンジ
    .item-num
      .item-price
        ￥6,500
      .item-like
        %i.fa.fa-heart-o
        %span.like-num
          4
