.body
  .products-container
    //ヘッダー部分
    .index-header
      .index-header--top
        //メルカリロゴ部分
        %h1.mercari-logo
          = image_tag('//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2479985427')
        //検索キーワード入力部分
        .index-header--search
          %label.search-keyword
            %input{:type => :search, :name => :search, :placeholder => :" 何かお探しですか？", :class => :searchKeyword}
          //虫眼鏡アイコン
          .icon-search--box
            .icon-search--icon
              =fa_icon 'search'
        -# .list
        -#   .li.icon-info
        -#     = fa_icon 'bell', class: 'icon-info'
        -#   .li.icon-todo
        -#     = fa_icon 'check', class: 'icon-todo'
        -#   .li.icon-mypage ●
      