=render partial: "header"

.notice-top{style: "left:0px; height:390px; width: 1440px;"}
  =image_tag("banner-6th-thanks.jpg", class: "notice-top_image")
  
=render partial: "items"

.notice-bottom{style: "left:0px; height:260px; width:1440px;"}
  .app-banner
    .app-banner_left
      %h.app-top-message
        スマホでかんたんフリマアプリ
      %p.app-bottom-message
        今すぐ無料ダウンロード！
      .app-left-icon
        .mercari_minibox
          =image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?1881812696", width: "68px;")
        .store_btn
          =image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?1881812696",style: "width:133px; height:40px;")
          =image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?1881812696",style: "width:133px; height:40px;")
    .app-banner_right
      =image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?1881812696",style: "width:300px; height:262.63px;")

=render partial: "layouts/sell-btn" 

=render partial: "footer"
