.body
  .products-container
    //ヘッダー部分
    .index-header
      .index-header__top
        //メルカリロゴ部分
        %h1.mercari-logo
          = image_tag('//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2479985427')
        //検索キーワード入力部分
        .index-header__search
          %label.search-keyword
            %input{:type => :search, :name => :search, :placeholder => :" 何かお探しですか？", :class => :searchKeyword}
          //虫眼鏡アイコン
          .icon-search__box
            .icon-search__box__icon
              =fa_icon 'search'

      //ヘッダー部分の２段目
      .index-header__bottom
        %ul.index-header__bottom__left
          //カテゴリーから探す
          .li.index-header__bottom__left__category カテゴリーから探す
              
          //ブランドから探す
          .li.index-header__bottom__left__brand ブランドから探す
              
        %ul.index-header__bottom__right
          //お知らせ
          .li.index-header__bottom__right__info お知らせ
              
          //やることリスト
          .li.index-header__bottom__right__todo やることリスト
              
          //マイページ
          .li.index-header__bottom__right__mypage マイページ
    //メイン部分（仮置き）
    .index-main

    //フッター部分
    .index-footer
      .footer-cell
        .footer-cell__head
          .footer-cell__head__left メルカリについて
          %ul.footer-cell__left__list
            .li.footer-cell__left__list__company 会社概要（運営会社）
            .li.footer-cell__left__list__recruitment 採用情報
            .li.footer-cell__left__list__prerelease プレリリース
            .li.footer-cell__left__list__blog 公式ブログ
            .li.footer-cell__left__list__guidelines ガイドライン
          .footer-cell__head__right ヘルプ&ガイド
          %ul.footer-cell__right__list
            .li.footer-cell__right__list__mercari-guide メルカリガイド
            .li.footer-cell__right__list__rakuraku らくらくメルカリ便
            .li.footer-cell__right__list__yuyu ゆうゆうメルカリ便
            .li.footer-cell__right__list__big 大型メルカリ便
            .li.footer-cell__right__list__cars-transaction 車体取引ガイド
            .li.footer-cell__right__list__safe-announcement メルカリ安心・安全宣言！
            .li.footer-cell__right__list__lie-approach 偽ブランド品撲滅への取り組み
            .li.footer-cell__right__list__mercari-box メルカリボックス


